body {
  padding: 80px;
}
.action_btns {
  padding-top: 15px;
  margin-bottom: -25px;
}
.jumbotron {
  background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.05));
}

.left {
  padding-left: 20px;
}
.right {
  padding-right: 20px;
}

pre, code {
  font-family: courier;
  padding: 5px 10px;
}
pre, code, .console, .results, #mongo-hero {
  background: #F8F8FF;
  border: 1px solid #DDD;
  border-radius: 10px;
  color: black;
  margin-bottom: 20px;
  overflow: hidden;
}

:focus{outline: none;}
.console {
  padding: 50px 0 0 0;
  height: 138px;
}
.console div.line {
  background: transparent;
}
.console input, .console .prompt {
  width: 88%;
  margin: 1px 0 1px 10px;
  border: none;
  display: inline;
  padding: 2px;
  background: transparent;
  color: orange;
  font-size: 16px;
  font-family: Monaco, monospace;
}

.results {
  min-height: 100px;
  padding: 50px;
}
